target/
*.class
*.log
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
.DS_Store
HELP.md
*.jar
!.mvn/wrapper/maven-wrapper.jar
node_modules/
Shopora_Frontend/node_modules/
Shopora_Frontend/dist/
.env
.env.local
*.log

